.cross-button {
    @include reset-button;
    @include square(24px);
    height: 24px;
    position: relative;
    background-color: transparent;

    @include hover {
        background-color: var(--color-accent);
      }
    
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 49%;
        left: 4px;
        width: 70%;
        height: 2px;
        background-color: var(--color-light);
    }

    &::before {
        rotate: 45deg;
    }

    &::after {
        rotate: -45deg;
    }
}