.mobile-overlay {
    width: 100%;
    height: 100%;
    padding: var(--container-padding-x) var(--container-padding-x) 0 34px;
    background-color: var(--color-accent-alternate);
    border: 0;
    color: var(--color-light);
    font-size: 14px;
    line-height: 1.28;

    &:modal {
        max-width: 100%;
        max-height: 100%;
    }

    &__close-button-wrapper {
        position: relative;
        display: flex;
        justify-content: end;
        top: 24px;
        right: 3px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        padding-top: 10px;
        margin: 0;
        min-height: 80vh;
    }

    &__link {
        position: relative;

        &::before {
            @include square(7px);

            position: absolute;
            content: '';
            border: 1px solid var(--color-light-alternate);
            rotate: -45deg;
            top: 30%;
            left: -15px;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }

        @include hover {
            &::before {
                border: 1px solid var(--color-accent);
            }
        }

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            display: block;
            width: 0;
            height: 1px;
            background: var(--color-accent);
            transition-duration: var(--transition-duration);
        }

        @include hover {
            &::after {
                width: 100%;
            }
        }

        @include hover {
            color: var(--color-accent);
        }
    }
}
